{% extends "mainadmin.html" %}
{% block start%}
<div class="container">
    <h2>Add New Semester</h2>
    {% if messages %}
        <div class="for-success-only">
            {% for i in messages %}
                {{i}}
            {% endfor %}
        </div>
        <br>
        <a href="/addnewsem/" class="back-button">Back</a>
    {% elif error_this %}
        <div class="for-error-only">
            {% if error_this %}
            {{error_this}}
            {% endif %}
        </div><br>
        <a href="/addnewsem/" class="back-button">Back</a>

    {% else %}


    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="gender">Select Department:</label>
            <select id="gender" name="dept" required>
                <option selected>Open this select menu</option>
                {% for i in dept %}
                <option value="{{i.department}}">{{i.department}}</option>
                {% endfor %}>
            </select>
        </div>
        <div class="form-group">
            <label for="gender">Select Semester:</label>
            <select id="gender" name="sem" required>
                <option selected>Open this select menu</option>
                {% for j in sem %}
                <option value="{{j.semester_count}}">{{j.semester_count}}
                </option>
                {% endfor %}
            </select>
        </div>
        Select Subjects:<br><br>
        {% for p in sub_list %}
        <div class="form-group">
            <label for="gender">{{p}} :</label>
            <select id="gender" name="{{p}}" required>
                <option selected>Open this select menu</option>
                {% for k in sub %}
                <option value="{{k.id}}">{{k.subject}}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Register">
        </div>
        <div class="form-group">
            <input type="reset" value="refresh">
        </div>
    </form>
    {% endif %}
    
</div>
{% endblock %}