{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'LoginPage1.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="head">
            LOGIN
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" class="inp"
                placeholder="Username"><br><br>
            <input type="password" name="password" class="inp"
                placeholder="Password"><br><br>
            
            <input type="submit" value="Login" class="submit">
        </form>
        <div class="signin">Dont have an Account?<br>
            <a href="/signinpage/">
                Register
            </a>
        </div>
        <div class="error">
            {% for i in messages %}
            {{i}}
            {% endfor %}
        </div>
    </div>
</body>
</html>