{% extends "mainadmin.html" %}
{% block start%}
<div class="container-21" id="content1">
  <h2>List of all the subjects</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Subject Code</th>
            </tr>
        </thead>
        <tbody>
            {% for i in context %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.subject}}</td>
                <td>{{i.subject_code}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}